<header>
        <nav class="navbar navbar-dark bg-dark">
            <div id="menu">
            <ul>
                <li><a class="navbar-brand" href="/">NgocTin BLog</a></li>
                <li>Sẵn sàng giải đáp mọi thắc mắc của bạn</li>
            </ul>
            </div>
        </nav>
</header>